@import '../../../styles/utils/variables';

.custom-button {
  display: inline-block;
  width: fit-content;
  text-align: center;
  font-size: $font-size-16;
  font-weight: $font-weight-bold;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.custom-button > * {
  transition: all .3s ease-in-out;
}

.custom-button--link {
  border: 1px solid transparent;
  outline-width: 1px;
  color: $black;

  &:hover {
    color: $lightPrimary;
    transition: all .3s ease-in-out;
  }

  &:visited {
    color: $black;
  }
}

.custom-button--navLink {
  outline-color: transparent;
  outline-width: 1px;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  color: $black;

  &:hover {
    color: $lightPrimary;
    transition: all .3s ease-in-out;
  }

  &:visited {
    color: $black;
  }

  &:focus {
    border-bottom: 1px solid $lightSecondary;
  }
}

.custom-button--regular {
  height: 50px;
  background-color: $lightSecondary;
  border: 0;
  color: $white;
  font-weight: $font_weight_normal;
  padding: $space_s $space_xl; 
  font-size: $font_size_12;
  outline-color: transparent;
  outline: none;

  &:hover {
    background-color: $lightSecondaryActive;
    transition: all .3s ease-in-out;
  }

  &:visited {
    color: $black;
  }
}

.custom-button--width-definite {
  padding: 0;
}