@import '../../styles/utils/variables';

.LoginPage {
  width: 100%;
  text-align: center;

  &__registrationLink {
    font-size: $font_size_12;

    & .link {
      font-size: inherit;
      text-decoration: underline;
    }
  }
}