.JavaControls {
  position: fixed;
  top: 400px;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 9000;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #fff;
  transform: translateX(calc(-100% + 30px));
  transition: all 0.5s;

  & > p {
    transform: rotate(-90deg);
    display: inline-block;
    width: 30px;
    height: 100%;
    padding: 0;
  }

  & > div {
    display: flex;
    flex-direction: column;
  }
  
  &:hover {
    transform: translateX(calc(0px));
    transition: all 0.5s;
  }
}