@import '../../styles/utils/variables';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $space_xl;
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-self: center;
  }

  & .regMessage {
    text-align: center;
    margin-top: $space_xl;
    width: 100%;
  }

  & .regTitle {
    font-size: $font_size_xl;
    color: $white;
  }

  & .css-i4bv87-MuiSvgIcon-root {
    width: 100px;
    height: 100px;
    color: $white;
  }

  & .buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    min-width: 300px;
  }

  &__control {
    height: $font_size_xxl;
    width: 30%;
    min-width: 300px;
  }

  &__control input {
    display: block;
    width: 100%;
    font-size: $font_size_m;
    line-height: $space_xl;
  }

  &__control .error {
    position: relative;
    color: $error;
    font-size: $font_size_12;
    color: $error;
    margin-bottom: $space_s;
  }
}

// .buttons {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }

.form__control input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
  border: 1px solid $white;
  border-bottom: 1px solid $darkPrimary;

  &:focus {
    outline: none;
    border: 1px solid $white;
    border-bottom: 1px solid $darkPrimary;
  }
}

.form__control--error input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
  border: 1px solid $white;
  border-bottom: 1px solid $darkPrimary;
  border: 1px solid red;

  &:focus {
    outline: none;
    border: 1px solid $white;
    border-bottom: 1px solid $darkPrimary;
  }
}