@import '../../styles/utils/variables';

.regForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-self: center;
  }

  & .regMessage {
    text-align: center;
    margin-top: $space_xl;
    width: 100%;
  }

  & .regTitle {
    font-size: $font_size_xl;
    color: $primary;
  }

  & .css-i4bv87-MuiSvgIcon-root {
    width: 100px;
    height: 100px;
    color: $primary;
  }

  & .buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    min-width: 300px;
  }

  &__control {
    height: $space_xxl;
    width: 25%;
    min-width: 300px;
  }

  &__control label {
    height: $space_xxl;
  }

  &__control input {
    display: block;
    width: 100%;
    font-size: $font_size_m;
    line-height: $space_xl;
  }

  &__control .error {
    position: relative;
    color: $error;
    font-size: $font_size_m;
    margin-bottom: $space_s;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}