@import '../../styles/utils/variables';

.NotFoundPage {
  text-align: center;

  & main {
    min-height: calc(100vh - $height_header - $height_footer);
  }

  &__title {
    font-size: $font-size-xl;
    margin-bottom: $space-m;
    padding-top: $space-xxl;
  }

  &__text {
    font-size: $font-size-m;
    margin-bottom: $space-xxl;
  }
}

main {
  min-height: calc(100vh - $height_header - $height_footer);
}

.custom-button--regular {
  font-size: $font-size-16;
  line-height: 30px;
  
  &:hover {
      color: $white;
    }
}
