@import "./utils/normalize.scss";
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/typography";

.container {
  padding: 0 1rem;
  margin-bottom: 20px;
  text-align: center;

  @include onTablet {
    padding: 2rem 2rem;
  }

  @include onLaptop {
    padding: 2rem;
  }

  @include onDesktop {
    padding: 3rem 1rem;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.grid {
  display: block;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  @include onLaptop {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  @include onDesktop {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
  }
}
