  $space_xxl: 6.5rem;
  $space_xl: 2rem;
  $space_l: 1.5rem;
  $space_m: 1rem;
  $space_s: 0.5rem;

  $white: #ffffff;
  $black: #1D1919;
  $primary: #1D1919;
  $lightPrimary: #ebece9;
  $darkPrimary: #354e3f;
  $secondary: #7b7b7b;
  $lightSecondary: #bcbcbc;
  $error: #ff0000;
  $rows: #dcdcdc;

  $font_size_xl: 3rem;
  $font_size_l: 1.5rem;
  $font_size_m: 1rem;
  $font_size_s: 0.5rem;
  $font_weight_bold: 800;
  $font_weight_normal: 500;

  $border_radius_s: 0.3rem;
  $border_radius_m: 0.6rem;
