  $space_xxxxl: 20rem;
  $space_xxxl: 10rem;
  $space_xxl: 6.5rem;
  $space_xl: 2rem;
  $space_l: 1.5rem;
  $space_m: 1rem;
  $space_s: 0.5rem;

  $white: #ffffff;
  $whiteSecondary: #ffffff57;
  $black: #000000;
  $lightSecondary: #AD655F;
  $darkPrimary: #1D1919;
  $lightPrimary: #747474;
  $error: #ff0000;
  $bgrOpacity: #bcbcbc4d;

  $font_size_xl: 3rem;
  $font_size_l: 1.5rem;
  $font_size_m: 1rem;
  $font_size_s: 0.5rem;
  $font_size_16: 16px;
  $font_size_14: 14px;
  $font_size_12: 12px;
  $font_weight_bold: 700;
  $font_weight_normal: 500;

  $border_radius_s: 0.3rem;
  $border_radius_m: 0.6rem;

  $shadow: 2px 2px 20px rgba(172, 172, 172, 0.3);
