  $space_xxl: 6.5rem;
  $space_xl: 2rem;
  $space_l: 1.5rem;
  $space_m: 1rem;
  $space_s: 0.5rem;

  $white: #ffffff;
  $black: #2B2B2B;
  $primary: #bbb2e9;
  $lightPrimary: #e3dff6;
  $darkPrimary: #9383dc;
  $secondary: #808080;
  $lightSecondary: #a8a5a5;
  $error: #ff0000;
  $rows: #dcdcdc;

  $font_size_xl: 3rem;
  $font_size_l: 1.5rem;
  $font_size_m: 1rem;
  $font_size_s: 0.5rem;
  $font_family_normal: 'Arial';
  $font_weight_bold: 800;
  $font_weight_normal: 500;

