@import "../utils/mixins";
@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: $font_size_m;  
  color: $darkPrimary;
  width: 100%;
}

body {
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

main {
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $darkPrimary;

  &:visited {
    color: $darkPrimary;
  }

  &:hover {
    color: $lightPrimary;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #fff;
}