@import "../utils/mixins";
@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,900&display=swap');


@font-face {
  font-family: 'Lato', sans-serif;
  // font-weight: normal;
  // src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  // src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,900&display=swap');
}

@font-face {
  font-family: 'Lato',sans-serif;
  font-weight: bold;
  src: url('https: //fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;  
  color: $darkPrimary;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}