@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import '../../styles/utils/variables';

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: $font_size_30;
  line-height: $font_size_30;
  color: $darkPrimary;
  text-transform: uppercase;
  margin-bottom: $space_l;
}

.centeredContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
