@import '../../..//styles/utils/variables';

.ItemCardLayout {
  position: relative;
  width: 100%;
  min-height: 400px;

  & > * {
    margin-bottom: $space-m;
  }

  &:hover &__img img {
    scale: 1.3;
    transition: all 1s;
  }

  &__img {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    margin-bottom: $space_xl;
   
  }

  &__img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &__img img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
     transition: all 5s;
  }
  
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-16;
    margin-bottom: $space_m;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
  }

  &__text {
    position: relative;
  }
 
  &__body {
    display: block;
    font-size: $font-size-14;
    overflow: hidden;
    margin-bottom: $space_m;
    word-wrap: break-word;
    white-space: normal;
    text-align: justify;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__arrow-button {
    position: absolute;
    font-weight: 700;
    right: 0;
    bottom: 0;
  }

  &__arrow-button img {
    transform: translateY(3px);
  }

  &__date-created {
    font-size: $font-size-12;
    color: $lightPrimary;
    font-style: normal;
    font-weight: 400;
  }
}
