@import '../../styles/utils/variables';

.DreamsPerPage {
  &__select {
  padding: 0.3rem;
  border-color: $lightPrimary;
  border-radius: $border_radius_s;
  background-color: $white;
  cursor: pointer;
  margin-bottom: $space_m;
  outline: none;

  &:hover {
    background-color: $bgrOpacity;
  }
  }

.SelectPerPage {
  font-size: $font_size_l;
  color: $darkPrimary;
}
}
