@import '../../../styles/utils/variables';

.custom-button {
  display: inline-block;
  // width: 362px;
  // height: 50px;
  color: $black;
  text-align: center;
  font-size: $font-size-16;
  font-weight: $font-weight-bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  & :hover {
    color: $lightPrimary;
  }

  & :visited {
    color: $black;
  }
}

.custom-button--regular.custom-button {
  background-color: $lightSecondary;
  border: 0;
  color: $white;
  font-weight: $font_weight_normal;
  padding: $space_s $space_xl;
  font-size: $font_size_12;
  border: 0;
}
