@import '../../styles/utils/variables';

.select-for-dreams-container {
  padding: 0.3rem;
  border-color: $white;
  border-radius: $border_radius_s;
  background-color: $white;
  cursor: pointer;
  margin-bottom: $space_m;

  &__label {
    font-size: $font_size_l;
    color: $darkPrimary;
  }
}

.select-for-dreams-container:hover {
  background-color: $white;
}

.dreams-container {

}