@import '../../styles/utils/variables';

.DreamsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space_xl;
  // padding-bottom: $space_l;

  &__controls {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__select {
    position: absolute;
    left: 10px;
  }

}

// &__select {
//   padding: 0.3rem;
//   border-color: $white;
//   border-radius: $border_radius_s;
//   background-color: $white;
//   cursor: pointer;
//   margin-bottom: $space_m;
// }

// &__select-label {
//   font-size: $font_size_l;
//   color: $darkPrimary;
// }
// .select-for-dreams-container:hover {
//   background-color: $white;
// }