@import '../../styles/utils/variables';

.DreamsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space_xl;
  margin-bottom: $space_xl;

  &__controls {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__select {
    position: absolute;
    left: 10px;
  }

}