@import '../../styles/utils/variables';

.footer {
  bottom: 30px;
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-top: 1px solid $darkPrimary;
  height: $height_footer;
  padding: 30px 100px;
  box-sizing: border-box;
  text-align: left;

  &__about {
    width: $space-xxxxl;
  }

  &__logo-link {
    width: 100%;
    font-family: 'Playfair Display', 'serif';
    font-style: normal;
    font-weight: 900;
    font-size: $font-size-l;
    text-transform: uppercase;
  }

  &__watchword {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-12;
  }

  &__team-info {
      font-style: normal;
      font-weight: 400;
      font-size: $font-size-14;
  }

  &__navLink {
    display: block;
    padding-left: 50%;
  }

  &__contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: $space-s;
  }

  &__social-links {
    display: flex;
    gap: 12px;
    justify-content: center;
  }
}