@import '../../styles/utils/variables';

.footer {
  display: flex;
  border-top: 1px solid $darkPrimary;
  height: $space-xxxl;

  &__about {
    width: $space-xxxxl;
  }

  &__logo-link {
    width: 100%;
    font-family: 'Playfair Display', 'serif';
    font-style: normal;
    font-weight: 900;
    font-size: $font-size-l;
    text-transform: uppercase;
    text-align: center;
  }

  &__watchword {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-12;
  }

  &__team-info {
      font-style: normal;
      font-weight: 400;
      font-size: $font-size-14;
  }
}