@import '../../styles/utils/variables';

.footer {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-top: 0.5px solid $darkPrimary;
  height: $height_footer;
  padding: 30px 100px;

  & > * {
    width: 350px;
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 16px;
  }

  &__about div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  &__logo-link {
    font-family: 'Playfair Display', 'serif';
    font-style: normal;
    font-weight: 900;
    font-size: $font-size-m;
    text-transform: uppercase;
  }

  &__watchword {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-12;
  }

  &__team-info {
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-14;
  }
  
  &__contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: $space-s;
  }

  &__contact > *:nth-last-child(2) {
    margin-bottom: 2 * $space-s;
  }

  &__social-links {
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  &__navigation {
    display: flex;
    justify-content: end;
  }

  &__navigation div {
    width: 50%;
  }

  &__navLink {
    display: block;
  }
}