@import "../../../styles/utils/variables";
@import "../../../styles/utils/normalize.scss";

.CustomInput {
  height: $input-height;
  min-width: 300px;

  & input {
    display: block;
    width: 100%;
    font-size: $font_size_m;
    font-size: 14px;
    line-height: $space_xl;
    border: 1px solid transparent;
    border-bottom: 1px solid $darkPrimary;
    padding: 0;
  }

  & input:hover {
    border-bottom: 1px solid $darkPrimary;
  }

  & input:focus {
    outline: none;
    border: 1px solid transparent;
    border-bottom: 1px solid $darkPrimary;
  }

  & input::placeholder {
    position: absolute;
    bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-size: $font_size_14;
    line-height: 18px;
    color: $lightPrimary;
    opacity: 0.5;
  }

  &--error input {
    border-bottom: 1px solid $lightSecondary;

    &:focus {
      border-bottom: 1px solid $lightSecondary;
    }
  }

  &__error {
    position: relative;
    color: $lightSecondary;
    font-size: $font_size_12;
    text-align: left;
  }
}