@import "../../styles/utils/variables";

.HomePage {
  & > * {
    margin-bottom: $space_xxl;
  }

  &__some-dreams-title {
    text-align: center;    
  }

  &__some-dreams {
    width: fit-content;
    margin: 0 auto;
  }
}