@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.HomePage {
  & > * {
    margin-bottom: $space_xl;
  }

  &__some-dreams-title {
    text-align: center;
    margin-bottom: $space_xl;    
  }

  &__some-dreams {
    width: fit-content;
    margin: 0 auto;
  }

  @include onTablet {
    & > * {
      margin-bottom: $space_xxxl;
    }

    &__some-dreams-title {
      margin-bottom: $space_xxl;
    }
  }
}