@import '../../styles/utils/variables';

.custom-button {
  display: inline-block;
  height: fit-content;
  color: $black;
  text-align: center;
  font-size: $font-size-16;
  font-weight: $font-weight-bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid red;

  & :hover {
    color: $lightPrimary;
  }

  & :visited {
    color: $black;
  }
}

.custom-button--regular.custom-button {
  border: 10px solid green;
  background-color: $lightSecondary;
  // border: 0;
  color: $white;
  font-weight: $font_weight_normal;
  padding: 0 $space_s;
  font-size: $font_size_14;
}