@import "./styles/main.scss";
@import "./styles/utils/variables";

.App {
  position: relative;
  min-height: 100vh;

  &__greetings {
    text-align: center;
    margin: 1rem;
  }
}

.App main {
  min-height: calc(100vh - $height_header - $height_footer);
}