@import '../../styles/utils/variables';

.header {
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $white;

    &__logo {
      margin: 0 auto;
      width: 10rem;
    }

  &__menu {
    display: block;
  }
}

.nav {
  &__list {
    margin: 0 1em 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
  }

  &__item {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 4px;
    background-color: $white;
    transition: all 0.3s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }

  
}

.login-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-popup-container {
  background-color: $white;
  padding: 20px;
  border-radius: 4px;
}