@import '../../styles/utils/variables';

.header {
  height: $height_header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-direction: column;
  background-color: $white;
  padding: 1rem 2rem 1rem 5rem;
  box-sizing: border-box;

    &__logo {
 
      height: 6rem;
      padding: 0;
      margin: 0;
    }

  &__menu {
    display: block;
  }
}

.nav {
  &__list {
    margin: 0 1em 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
  }

  &__item {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: $border_radius_s;
    background-color: $white;
    transition: all 0.3s ease-in-out;
    line-height: $font-size-m;
    transition: all 0.3s ease-in-out;
    line-height: $font-size-m;
  }

  &__favorites-icon {
    position: relative;
    a {
        &:visited {
          color: $darkPrimary;
        }
      }
  }

  &__favorites-count {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    font-size: $font-size-s;
    background-color: $error;
    width: $font-size-s;
    line-height: $font-size-s;
    text-align: center;
    color: $white;
    border-radius: 50%;
  }
}

// .login-popup-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .login-popup-container {
//   background-color: $white;
//   padding: 20px;
//   border-radius: 4px;
// }