@import '../../styles/utils/variables';

.main-swiper {
  width: 100vw;
  height: calc(100vh - 15rem);
  background-color: #fff;
}

.swiper-wrapper {
}

.swiper-slide {
}

.main-slide img {
  width: 100vw;
  height: calc(100vh - 15rem);
  object-fit: cover; 
}