@import '../../styles//utils/variables';

.dream-card {
  position: relative;
  width: 100%;
  height: 40rem;

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-m;
  }

  &__img {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }

  &__img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  &__title {
    font-weight: bold;
    line-height: $font-size-xl;
    font-size: $font-size-l;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
  }
 
  &__body-text {
    display: block;
    font-size: $font-size-m;
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      white-space: normal;
  } 
}

.dream-card--homepage .dream-card {
  width: 100%;
  // height: 40rem;
  padding: 0;
  margin: 0;

  &__description {
    border: 1px solid red;
    // padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }

  &__img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    // margin-bottom: $space-l;
  }
  
  &__title {
    font-weight: bold;
    line-height: $font-size-xl;
    font-size: $font-size-l;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
  }
 
  &__body-text {
    display: block;
    font-size: $font-size-m;
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      white-space: normal;
  } 
}